html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameBoard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.tablero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contenedorLetra {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #E6E6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.letra {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  font-weight: 700;
  font-size: 24px;
  display: inline;
  line-height: .5em;
}

.gameBody {
  flex-grow: 1;
}

.tablaIntentos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contenedorIntentos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.intentos {
  width: 48px;
  height: 48px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #555555;
  color: whitesmoke;
  display: grid;
  place-content: center center;
  text-transform: uppercase;
  font-weight: 700;
}

.startBtn {
  padding: .3em 1em;
  display: grid;
  place-content: center center;
  font-family: system-ui;
  font-size: 24px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  background-color: #666666;
  color: #FFF;
  cursor: pointer;
  transition: all .3s ease;
}

.startBtn:hover {
  background-color: #444444;
}

.hide {
  display: none;
}

.cuerpo {
  width: 100px;
  height: 200px;
  position: relative;
  background-color: #666666;
}

.cuerpo div {
  background-color: #444444;
}

.cabeza {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.torso {
  width: 10px;
  height: 60px;
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translateX(-50%);
}

.brazoIzq {
  width: 30px;
  height: 10px;
  position: absolute;
  top: 65px;
  left: 20px;
  transform: rotate(-30deg);
}

.brazoDer {
  width: 30px;
  height: 10px;
  transform: rotate(30deg);
  position: absolute;
  top: 65px;
  left: 47px;
}

.piernaIzq {
  width: 10px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 38px;
  transform: translateX(-50%) rotate(30deg);
}

.piernaDer {
  width: 10px;
  height: 50px;
  position: absolute;
  top: 100px;
  left: 60px;
  transform: translateX(-50%) rotate(-30deg);
}